@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary: #6f6af8;
    --color-white: #fff;
    --color-red: rgb(255, 63, 63);
    --color-gray-100: hwb(220 90% 10%);
    --color-gray-200: hwb(220 80% 20%);
    --color-gray-300: hwb(220 70% 30%);
    --color-gray-500: hwb(220 50% 50%);
    --color-gray-700: #252542;
    --color-gray-900: #0c0c22;

    --color-bg: hwb(240 95% 0%);
    --transition: all 300ms ease;

    --container-width-lg: 89%;
    --container-width-md: 92%;
    --form-width: 60%;

    --radius-1: 0.3rem;
    --radius-2: 0.6rem;
    --radius-3: 1rem;
    --radius-4: 2rem;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-gray-700);
    background: var(--color-bg);
    overflow-x: hidden;
    margin-top: 6rem;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    margin-top: 6rem;
}

h1, h2, h3, h4, h5 {
    color: var(--color-gray-900);
    line-height: 1.1;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.9rem;
}

h3 {
    font-size: 1.3rem;
    line-height: 1.25;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    line-height: 1.4;
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
}

/* ================= NAV BAR ================= */
nav {
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 4px solid var(--color-bg);
    backdrop-filter: blur(20px);
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav__logo {
    width: 3rem;
    display: block;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav__menu a {
    color: var(--color-gray-700);
    transition: var(--transition);
}

.nav__menu a:hover {
    color: var(--color-primary);
}

.nav__toggle-btn {
    display: none;
}

/* ================= FOOTER ================= */
footer {
    background: var(--color-gray-900);
    margin-top: 6rem;
    padding-top: 6rem;
}

.footer__categories {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 4rem;
}

.footer__categories a {
    background: var(--color-gray-700);
    color: var(--color-white);
    padding: 0.6rem 1.4rem;
    border-radius: var(--radius-2);
    transition: var(--transition);
}

.footer__categories a:hover {
    background: var(--color-white);
    color: var(--color-gray-900);
}

.footer__copyright {
    color: var(--color-white);
    text-align: center;
    padding: 1.5rem 0;
    border-top: 2px solid var(--color-gray-700);
    margin-top: 1rem;
}

/* ================= GENERAL & ERROR PAGE ================= */

.center {
    text-align: center;
    margin-top: 10rem;
    margin-inline: auto;
    display: block;
    width: 100%;
}

.error-page h2 {
    margin-top: 3rem;
}

.btn {
    display: inline-block;
    width: fit-content;
    padding: 0.6rem 1.2rem;
    background-color: var(--color-primary);
    border-radius: var(--radius-2);
    cursor: pointer;
    transition: var(--transition);
    color: var(--color-white);
}

.btn:hover {
    background: var(--color-white);
    color: var(--color-gray-900);
}

.btn.primary {
    background: var(--color-primary);
    color: var(--color-white);
}

.btn.primary:hover {
    color: var(--color-white);
    background-color: var(--color-gray-900);
}

.btn.danger {
    background: var(--color-red);
    color: var(--color-white);
}

.btn.danger:hover {
    background: var(--color-gray-900);
    color: var(--color-white);
}

.btn.category {
    background: var(--color-bg);
    color: var(--color-primary);
    font-size: 0.75rem;
    font-weight: 400;
}

.btn.category:hover { 
    background: var(--color-gray-900);
    color: var(--color-white);
}

.error-page {
    text-align: center;
    margin-top: 8rem; 
    padding: 0 1rem;
}

/* ================= POST ================= */


.post__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.post {
    background: var(--color-white);
    padding: 1rem;
    border-radius: var(--radius-4);
    padding-bottom: 1.2rem;
    transition: var(--transition);
    cursor: default;
}

.post:hover {
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
}

.post__thumbnail {
    border-radius: var(--radius-3);
    height: 16rem;
    overflow: hidden;
}

.post__content {
    margin-top: 1.5rem;
}

.post__content h3 {
    margin: 1rem 0 0.6rem;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 2rem;
}
.post__author {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.post__author-avatar {
    width: 2.5rem;
    border-radius: var(--radius-3);
    aspect-ratio: 1/1;
    overflow: hidden;
}

/* ================= POST DETAIL ================= */
.post-detail {
   width: var(--form-width);
   background: var(--color-white);
   margin-inline: auto ;
   padding: 2rem 0; 
   border-radius: var(--radius-4);
}

.post-detail__header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.post-detail__buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.post-detail__thumbnail {
    margin: 1rem 0;
    height: fit-content;
    max-height: 30rem;
    border-radius: var(--radius-3);
    overflow: hidden;
} 

/* .detail_contents {
    display: flex;
    gap: 2rem;
}

.detail_contents > * {
    flex: 1;
} */

.post-detail p {
    margin-bottom: 0.7rem;
}


/* ================= Register & Form ================= */
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-inline: auto;
    padding: 2rem 0;
}

input, select, textarea {
    width: 100%;
    padding: 0.6rem 1rem;
    border-radius: var(--radius-1);
    resize: none;
    
}

.form__error-message {
    background: var(--color-red);
    color: var(--color-white);
    font-size: 0.8rem;
    padding: 0.6rem 1rem;
    border-radius: var(--radius-1);
    display: block;
    margin-bottom: 1rem;
}

.register, .login, .create-post {
    width: var(--form-width);
    margin-inline: auto;
    height: calc(100vh - 12rem);
    display: grid;
    place-items: center;
    
}
.register small, .login small {
    display: block;
} 

.register small a, .login small a{
    color: var(--color-primary);
} 

/*====================Authors======================*/

.authors__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.author {
    background: var(--color-white);
    padding: 0.5rem;
    border-radius: var(--radius-3);
    cursor: pointer;
    transition: var(--transition);
}

.author:hover {
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
}

.author__avatar {
    width: 4rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 0.3rem solid var(--color-bg);
    overflow: hidden;
}

.author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* ================= PROFILE ================= */
.profile__container {
    display: grid;
    place-items: center;
    text-align: center;
}

.profile__details {
    width: 100%;
}

.avatar__wrapper {
    width: 15rem;
    aspect-ratio: 1/1;
    position: relative;
    margin-inline: auto;
    margin-top: 1rem;
}

.profile__avatar {
    height: 100%;
    border-radius: 50%;
    border: 1rem solid var(--color-white);
    overflow: hidden;
}

.avatar__form {
    height: 1rem;
}

.avatar__form input {
    visibility: hidden;
}

.avatar__form label, .profile__avatar-btn {
    background: var(--color-gray-900);
    color: var(--color-white);
    font-size: 1.3rem;
    position: absolute;
    right: 2rem;
    bottom: 1.4rem;
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.profile__avatar-btn {
    cursor: pointer;
    padding: 0;
    background: var(--color-primary);
}

.profile__details h1 {
    margin-top: 1.5rem;
}

.form.profile__form {
    margin-top: 3rem;
    margin-inline: auto;
    width: var(--form-width);
}
