@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary: #6f6af8;
    --color-white: #fff;
    --color-red: rgb(255, 63, 63);
    --color-gray-100: hwb(220 90% 10%);
    --color-gray-200: hwb(220 80% 20%);
    --color-gray-300: hwb(220 70% 30%);
    --color-gray-500: hwb(220 50% 50%);
    --color-gray-700: #252542;
    --color-gray-900: #0c0c22;

    --color-bg: hwb(240 95% 0%);
    --transition: all 300ms ease;

    --container-width-lg: 89%;
    --container-width-md: 92%;
    --form-width: 60%;

    --radius-1: 0.3rem;
    --radius-2: 0.6rem;
    --radius-3: 1rem;
    --radius-4: 2rem;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-gray-700);
    background: var(--color-bg);
    overflow-x: hidden;
    margin-top: 6rem;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    margin-top: 6rem;
}

h1, h2, h3, h4, h5 {
    color: var(--color-gray-900);
    line-height: 1.1;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.9rem;
}

h3 {
    font-size: 1.3rem;
    line-height: 1.25;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    line-height: 1.4;
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
}

/* ================= NAV BAR ================= */
nav {
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 4px solid var(--color-bg);
    backdrop-filter: blur(20px);
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav__logo {
    width: 3rem;
    display: block;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav__menu a {
    color: var(--color-gray-700);
    transition: var(--transition);
}

.nav__menu a:hover {
    color: var(--color-primary);
}

.nav__toggle-btn {
    display: none;
}

/* ================= FOOTER ================= */
footer {
    background: var(--color-gray-900);
    margin-top: 6rem;
    padding-top: 6rem;
}

.footer__categories {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 4rem;
}

.footer__categories a {
    background: var(--color-gray-700);
    color: var(--color-white);
    padding: 0.6rem 1.4rem;
    border-radius: var(--radius-2);
    transition: var(--transition);
}

.footer__categories a:hover {
    background: var(--color-white);
    color: var(--color-gray-900);
}

.footer__copyright {
    color: var(--color-white);
    text-align: center;
    padding: 1.5rem 0;
    border-top: 2px solid var(--color-gray-700);
    margin-top: 1rem;
}

/* ================= GENERAL & ERROR PAGE ================= */

.center {
    text-align: center;
    margin-top: 10rem;
    margin-inline: auto;
    display: block;
    width: 100%;
}

.error-page h2 {
    margin-top: 3rem;
}

.btn {
    display: inline-block;
    width: fit-content;
    padding: 0.6rem 1.2rem;
    background-color: var(--color-white);
    border-radius: var(--radius-2);
    cursor: pointer;
    transition: var(--transition);
    color: var(--color-gray-900);
}

.btn:hover {
    background: var(--color-gray-900);
    color: var(--color-white);
}

.btn.primary {
    background: var(--color-primary);
    color: var(--color-white);
}

.btn.primary:hover {
    color: var(--color-white);
    background-color: var(--color-gray-900);
}

.btn.danger {
    background: var(--color-red);
    color: var(--color-white);
}

.btn.danger:hover {
    background: var(--color-gray-900);
    color: var(--color-white);
}

.btn.category {
    background: var(--color-bg);
    color: var(--color-primary);
    font-size: 0.75rem;
    font-weight: 400;
}

.btn.category:hover { 
    background: var(--color-gray-900);
    color: var(--color-white);
}

.error-page {
    text-align: center;
    margin-top: 8rem; 
    padding: 0 1rem;
}

/* ================= POST ================= */


.post__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.post {
    background: var(--color-white);
    padding: 1rem;
    border-radius: var(--radius-4);
    padding-bottom: 1.2rem;
    transition: var(--transition);
    cursor: default;
}

.post:hover {
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
}

.post__thumbnail {
    border-radius: var(--radius-3);
    height: 16rem;
    overflow: hidden;
}

.post__content {
    margin-top: 1.5rem;
}

.post__content h3 {
    margin: 1rem 0 0.6rem;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 2rem;
}
.post__author {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.post__author-avatar {
    width: 2.5rem;
    border-radius: var(--radius-3);
    aspect-ratio: 1/1;
    overflow: hidden;
}

/* ================= POST DETAIL ================= */
.post-detail {
   width: var(--form-width);
   background: var(--color-white);
   margin-inline: auto ;
   padding: 2rem 0; 
   border-radius: var(--radius-4);
}

.post-detail__header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.post-detail__buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.post-detail__thumbnail {
    margin: 1rem 0;
    height: fit-content;
    max-height: 30rem;
    border-radius: var(--radius-3);
    overflow: hidden;
} 

/* .detail_contents {
    display: flex;
    gap: 2rem;
}

.detail_contents > * {
    flex: 1;
} */

.post-detail p {
    margin-bottom: 0.7rem;
}


/* ================= Register & Form ================= */
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-inline: auto;
    padding: 2rem 0;
}

input, select, textarea {
    width: 100%;
    padding: 0.6rem 1rem;
    border-radius: var(--radius-1);
    resize: none;
    
}

.form__error-message {
  
    color: var(--color-red);
    font-size: 1rem;
    padding: 0.6rem 1rem;
    border-radius: var(--radius-1);
    display: block;
    margin-bottom: 1rem;
}

.register, .login {
    width: var(--form-width);
    margin-inline: auto;
    height: calc(100vh - 12rem);
    display: grid;
    place-items: center;
    
}

.create-post {
    width: var(--form-width);
    margin-inline: auto;
}
.register small, .login small {
    display: block;
} 

.register small a, .login small a{
    color: var(--color-primary);
} 

/*====================Authors======================*/
.authors {
    min-height: calc(100vh - 28rem); /* Ensures footer stays at bottom */
}

.authors__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.author {
    background: var(--color-white);
    padding: 0.5rem;
    border-radius: var(--radius-3);
    cursor: pointer;
    transition: var(--transition);
}

.author:hover {
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
}

.author__avatar {
    width: 4rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 0.3rem solid var(--color-bg);
    overflow: hidden;
}

.author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* ================= PROFILE ================= */
.profile__container {
    display: grid;
    place-items: center;
    text-align: center;
}

.profile__details {
    width: 100%;
}

.avatar__wrapper {
    width: 15rem;
    aspect-ratio: 1/1;
    position: relative;
    margin-inline: auto;
    margin-top: 1rem;
}

.profile__avatar {
    height: 100%;
    border-radius: 50%;
    border: 1rem solid var(--color-white);
    overflow: hidden;
}

.avatar__form {
    height: 1rem;
}

.avatar__form input {
    visibility: hidden;
}

.avatar__form label, .profile__avatar-btn {
    background: var(--color-gray-900);
    color: var(--color-white);
    font-size: 1.3rem;
    position: absolute;
    right: 2rem;
    bottom: 1.4rem;
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.profile__avatar-btn {
    cursor: pointer;
    padding: 0;
    background: var(--color-primary);
}

.profile__details h1 {
    margin-top: 1.5rem;
}

.form.profile__form {
    margin-top: 3rem;
    margin-inline: auto;
    width: var(--form-width);
}

/* ================= DASHBOARD ================= */
.dashboard__container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.dashboard__post-thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-2);
    width: 5rem;
    aspect-ratio: 1/1;
    overflow: hidden;
} 
.dashboard__post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background: var(--color-white);
    padding: 0.5rem 1.2rem;
    border-radius: var(--radius-3);
    cursor: pointer;
    transition: var(--transition);
}

.dashboard__post:hover {
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
}

.dashboard__post-info {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.dashboard__post-actions {
    display: flex;
    gap: 0.5rem;
}



/* ================= CUSTOM REACT QUILL ================= */
.ql-editor {
    min-height: 10rem;
    overflow: scroll;
    background: var(--color-white);
}

.ql-container {
    border-radius: 0 0 var(--radius-1) var(--radius-1);
    overflow: hidden;
}

.ql-toolbar {
    border-radius: var(--radius-1) var(--radius-1) 0 0;
    background: var(--color-bg);
}

/* ================= CUSTOM FILE INPUT ================= */
input[type="file"] {
    background: transparent; 
    padding: 0; /* Let inner elements handle padding */
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    background: var(--color-primary);
    color: var(--color-white);
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: var(--radius-1);
    margin-right: 1rem;
    cursor: pointer;
    transition: var(--transition);
    font-family: inherit;
}

input[type="file"]::file-selector-button:hover {
    background: var(--color-gray-900);
}


/* ================= MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 800px) {

    .container {
        width: var(--container-width-md);
        font-size: 1.5rem;
    }
     h1 {
       font-size: 1.5rem;
   }

   h2 {
       font-size: 1.4rem;
   }
   
   h3 {
       font-size: 1.2rem;
   }

   .nav__container{
    position: relative;
   }
    .nav__menu {
        position: absolute;
        top: 5rem;  
        right: 0;
        flex-direction: column;
        gap: 0;
    }

    .nav__menu li {
       width: 100%;
       box-shadow: -2rem 4rem 4rem rgba(0, 0, 0, 0.26);
       animation: navDropdown 400ms ease forwards;
       opacity: 0;
       transform-origin: top;
    }

    .nav__menu li:nth-child(2) {
        animation-delay: 200ms;
    }

    .nav__menu li:nth-child(3) {
        animation-delay: 400ms;
    }

    .nav__menu li:nth-child(4) {
        animation-delay: 600ms;
    }

    @keyframes navDropdown {
        0% {
            transform: rotateX(90deg);
            opacity: 0;
        }
        100% {
            transform: rotateX(0);
            opacity: 1;
        }
    }

    .nav__menu li a {
        display: block;
        background-color: var(--color-white);
        padding: .85rem 2.5rem;
    }

    .nav__toggle-btn{
        display: inline-block;
        background: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }
    
    .post__container {
        grid-template-columns: 1fr;
        gap: 0;
    }
    
    .post {
        box-shadow: none;
    }

    .form {
        width: 100%;
        padding: 0;
    }

    .register, .login, .create-post, .form.profile__form {
        width: 100%;
    }
    
    .dashboard__post {
        flex-direction: column;
    }
    
    .dashboard__post-info {
        flex-direction: column;
        gap: 1.5rem;
    }
    
    .dashboard__post-thumbnail {
        width: 5rem;
    }

    .authors__container {
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }

    .post-detail {
        width: 100%;
        background: transparent;
        padding: 0;
    }

    .post-detail h1 {
        margin-top: 2rem;
    }
}

/* ================= MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
    /* General */
   .container {
       width: var(--container-width-md);
   }

   h2 {
       font-size: 1.6rem;
   }

   h3 {
       font-size: 1.2rem;
   }
   
   h1 {
       font-size: 2rem;
   }
   
   /* Posts */
   .post__container {
       grid-template-columns: 1fr 1fr; 
       gap: 3rem;
   }
   
   /* Dashboard */
   .dashboard__container {
       gap: 1.5rem;
   }
   
   /* Authors */
   .authors__container {
       grid-template-columns: 1fr 1fr;
       gap: 1.5rem;
   }

    /* Forms */
    .form.profile__form, .create-post, .register, .login, .post-detail {
        width: 60%;
    }
}
